.site-header {
    position: relative;
    z-index: 999;
}

.header-main {
    position: fixed;
    width: 100%;
    right: 0;
    top: 30px;
    left: 0;
    z-index: 999;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.header-main .header-inner-main {
    position: relative;
    background-color: transparent;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);

    border-radius: var(--radius50px);
    -webkit-border-radius: var(--radius50px);
    -moz-border-radius: var(--radius50px);
    -ms-border-radius: var(--radius50px);
    -o-border-radius: var(--radius50px);
}

.navbar-container {
    padding: 0 50px;
}

.header-main nav.navbar {
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: var(--transition-400ms);
    -webkit-transition: var(--transition-400ms);
    -moz-transition: var(--transition-400ms);
    -ms-transition: var(--transition-400ms);
    -o-transition: var(--transition-400ms);

    border-radius: var(--radius50px);
    -webkit-border-radius: var(--radius50px);
    -moz-border-radius: var(--radius50px);
    -ms-border-radius: var(--radius50px);
    -o-border-radius: var(--radius50px);
}


.header-main nav.navbar:after {
    position: absolute;
    content: '';
    z-index: -1;
    left: auto;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: transparent;
    width: 0;
    margin-right: 0px;
    margin-left: auto;
    border-radius: var(--radius50px);
    -webkit-border-radius: var(--radius50px);
    -moz-border-radius: var(--radius50px);
    -ms-border-radius: var(--radius50px);
    -o-border-radius: var(--radius50px);

    transition: var(--transition-400ms);
    -webkit-transition: var(--transition-400ms);
    -moz-transition: var(--transition-400ms);
    -ms-transition: var(--transition-400ms);
    -o-transition: var(--transition-400ms);
}

.header-main nav.navbar:before {
    position: absolute;
    content: '';
    z-index: -1;
    left: 0px;
    right: auto;
    top: 0px;
    bottom: 0px;
    background: transparent;
    width: 0;
    margin-left: 0px;
    margin-right: auto;
    border-radius: var(--radius50px);
    -webkit-border-radius: var(--radius50px);
    -moz-border-radius: var(--radius50px);
    -ms-border-radius: var(--radius50px);
    -o-border-radius: var(--radius50px);

    transition: var(--transition-400ms);
    -webkit-transition: var(--transition-400ms);
    -moz-transition: var(--transition-400ms);
    -ms-transition: var(--transition-400ms);
    -o-transition: var(--transition-400ms);
}

.header-logo {
    padding: 16px 30px;
    background-color: rgba(255, 255, 255, 65%);
    backdrop-filter: blur(2px);
    border-radius: var(--radius50px);
    -webkit-border-radius: var(--radius50px);
    -moz-border-radius: var(--radius50px);
    -ms-border-radius: var(--radius50px);
    -o-border-radius: var(--radius50px);
    transition: background-color 400ms ease;
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -ms-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
}

.header-main .header-inner-main .header-inner {
    justify-content: end;
    margin-left: auto;
    align-items: center;
    padding: 8px 8px 8px 30px;
    background-color: rgba(255, 255, 255, 65%);
    backdrop-filter: blur(2px);
    border-radius: var(--radius50px);
    -webkit-border-radius: var(--radius50px);
    -moz-border-radius: var(--radius50px);
    -ms-border-radius: var(--radius50px);
    -o-border-radius: var(--radius50px);
    transition: background-color 400ms ease;
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -ms-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
}

/* When scroll-up effect */
.header-main.fixHeader {
    top: 20px;
}

.fixHeader .navbar {
    backdrop-filter: blur(8px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.16);
    border-radius: var(--radius50px);
    -webkit-border-radius: var(--radius50px);
    -moz-border-radius: var(--radius50px);
    -ms-border-radius: var(--radius50px);
    -o-border-radius: var(--radius50px);
}

.header-main.fixHeader nav.navbar:after,
.header-main.fixHeader nav.navbar:before {
    background: #fff;
    width: 100%;
}

.fixHeader .header-logo,
.header-main.fixHeader .header-inner-main .header-inner {
    background-color: transparent !important;
    backdrop-filter: none;
}

/* end */

.header-logo a {
    display: inline-block;
    width: auto;
    z-index: 1;
    position: relative;
}

.h-logo {
    max-width: clamp(120px, 11vw, 200px);
}

.header-right {
    width: 100%;
}

.header-main .header-inner-main .header-menu-inner {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 60px;
}

.header-main .header-inner-main .header-inner .header-menu ul li a {
    position: relative;
    font-size: 18px;
    line-height: normal;
    color: var(--theme-text);
    margin: 0 20px;
    padding-right: 0;
    padding-left: 0;
    font-weight: 400;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.header-main .header-inner-main .header-inner .header-menu ul li a:hover,
.header-main .header-inner-main .header-inner .header-menu ul li a.active {
    color: var(--text-primary);
}

.btn.header-primary-btn {
    background-color: var(--bg-primary);
    color: var(--text-white);
    padding: 15px 40px;
    border-radius: var(--radius50px);
    -webkit-border-radius: var(--radius50px);
    -moz-border-radius: var(--radius50px);
    -ms-border-radius: var(--radius50px);
    -o-border-radius: var(--radius50px);
}

@media (max-width: 1599px) {
    .btn.header-primary-btn {
        padding: 14px 30px;
    }

    .header-main .header-inner-main .header-inner .header-menu ul li a {
        font-size: 16px;
        margin: 0 16px;
    }

    .header-main .header-inner-main .header-inner {
        padding: 6px 6px 6px 20px;
    }

    .header-logo {
        padding: 11px 30px;
    }
}

@media (max-width: 1499px) {}

@media (max-width: 1399px) {}

@media (max-width: 1299px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .header-main .header-inner-main .header-inner {
        /* width: calc(100% - 85px); */
    }

    .header-main .header-right {
        margin-right: 0px;
        text-align: right;
    }

    .header-main .header-inner-main .header-inner .header-menu .header-menu-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around !important;
    }

    .header-main .header-right .navbar-toggler {
        outline: none !important;
        box-shadow: none;
        background: transparent;
    }

    .navbar-toggler {
        cursor: pointer;
        padding: 0;
        margin: 10px 0;
        border: none;
    }

    .navbar-toggler .icon-bar {
        display: block;
        width: 30px;
        height: 3px;
        background-color: var(--bg-primary);
        transition: var(--transition);
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }

    .header-menu ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        background-color: #fff;
        padding: 16px 0;
        border-radius: 20px;
    }

    .header-menu ul .nav-item {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .header-menu ul .nav-item a {
        width: 100%;
        padding: 16px 16px;
    }
}

@media (max-width: 767px) {}

@media (max-width: 576px) {}

@media (max-width: 380px) {}